$white: #FFF;
$black: #000;

$light-1: #f4f4f4;
$light-2: #F5FFFA;

$yellow-1: #c6b000;
$yellow-2: #dfc700;

$green-1: #00b300;
$green-2: #2b7a78;
$green-3: #043927;
$green-4: #0c5460;

$dark-1:  #17252a;

$silver-1: #999999;
$silver-2: #f4f4f4;
$silver-3: #eee8e8;
$silver-4: #f5f7f8;

$red-1: #e0b4b4;
$red-2: #fff6f6;
$red-3: #af5b5b;
