@import "../../shared/mixins";

.auth {
  &__container {
    padding: 2rem;
    border: 1px solid #2793da;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-radius:.25rem;
    box-shadow:0 .5em 1em -.125em rgba(10,10,10,.1),0 0 0 1px rgba(10,10,10,.02);
  }

  &__header {
    margin-top: 1rem;
    text-align: center;
    
    small {
      font-style: italic;
    }
  }

  &__redirect {
    font-size: 0.8rem;
  }
}

// media query
@include respond-to('medium') {
  .auth__container {
    width: 40%;
    margin: auto;
    margin-top: 5rem;
  }
}
